body,
html {
  background-color: black;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

.pointer {
  width: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.horizontaLine {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 1px;
  background-color: white;
}

.verticalLine {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 1px;
  background-color: white;
}

.coordinates {
  position: absolute;
  color: white;
  top: 0px;
  left: 0px;
}
